.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    padding: 0 2vw;
    color: #fff;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: background 0.4s ease;

    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.4),
            transparent
    );
}

.navbar.scrolled {
    background: rgba(0, 0, 0, 0.95);
}

/* LEFT */
.nav-left {
    display: flex;
    align-items: center;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.logo-svg {
    width: 180px;
}

.logo-text {
    fill: #e50914;
    font-size: 4rem;
    font-weight: 900;
}

/* MENU */
.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu li {
    cursor: pointer;
    font-size: 1.1rem;
    color: #e5e5e5;
    white-space: nowrap;
}

.menu li:hover {
    color: #b3b3b3;
}

/* RIGHT */
.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.bell-wrap {
    position: relative;
    margin-top: 5px;
}

/* 검색 박스 전체 */
.search-box {
    position: absolute;
    right: 140px; /* 키즈 / 알림 왼쪽 위치 */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;

    width: 330px;
    height: 45px;
    border: 1px solid #fff;

    background: #000;
    padding: 0 12px;

    animation: fadeIn .2s ease-in-out;
}

/* 입력창 */
.search-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1rem;
}

/* placeholder 스타일 */
.search-box input::placeholder {
    color: #aaa;
}

.search-icon {
    font-size: 1.7rem;
    margin-right: 10px;
}

/* 닫기 버튼(X) */
.close-search {
    cursor: pointer;
    color: white;
    margin-left: 10px;
}

/* 부드럽게 등장 효과 */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50%) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(-50%) scale(1);
    }
}

/* 햄버거 */
.hamburger {
    display: none;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* ================= MOBILE SIDE MENU ================= */

.side-menu {
    position: fixed;
    top: 80px;
    right: 0;
    width: 260px;
    height: calc(100vh - 80px);
    background: #111;
    color: white;
    padding: 16px;
    z-index: 5;

    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.side-menu.show {
    transform: translateX(0);
}

.side-menu.show {
    transform: translateX(0);
}

.side-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    font-size: 1rem;
    cursor: pointer;
}

.side-menu ul {
    list-style: none;
    padding: 0;
}

.side-menu li {
    padding: 10px 0;
    font-size: 1.1rem;
    cursor: pointer;
}

.side-menu li:hover {
    color: #b3b3b3;
}


/* OVERLAY */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 4;
}

/* ================= 반응형 ================= */

@media (max-width: 1024px) {
    .menu {
        display: none;
    }

    .hamburger {
        display: block;
    }
    .search-box {
        right: 180px;
        width: 230px;
    }
    .search-box input {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .navbar {
        height: 60px;
        padding: 0 20px;
    }

    .side-menu {
        top: 60px;
    }
}
