.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal-box {
    width: 60%;
    max-height: 100vh;
    background: #141414;
    border-radius: 3px;
    overflow-y: auto;
    position: relative;
    color: white;
    animation: pop .2s ease-in-out;
}

@keyframes pop {
    from {
        transform: scale(.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.close {
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: 26px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}

.modal-poster {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 3px 3px 0 0;
}

.modal-info {
    padding: 20px;
}

.modal-info h1 {
    font-size: 1.7rem;
}

.modal-info p {
    line-height: 1.8;
}

.play {
    background: white;
    color: black;
    padding: 10px 18px;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1025px) {
    .modal-info {
        padding: 15px;
    }

    .modal-info h1 {
        font-size: 1.5rem;
    }

    .modal-info p {
        font-size: 0.9rem;
        line-height: 1.6;
    }
}
