.movie-card {
    width: 160px;
    height: 230px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
    transition: transform .3s;
}

.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-card:hover {
    transform: scale(1.1);
}
