.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* 배경 어둡게 overlay (글자 가독성 강화) */
.banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
            to top,
            rgba(0,0,0,0.75) 0%,
            rgba(0,0,0,0.45) 40%,
            rgba(0,0,0,0.2) 75%
    );
    z-index: 1;
}

/* 내용 영역 */
.banner-contents {
    position: absolute;
    top: 200px;
    left: 60px;
    color: #fff;
    width: 45%;
    z-index: 1; /* overlay 위에 오게 */
}

/* 제목 */
.banner-contents h1 {
    font-size: 3rem;
    margin-bottom: 20px;

    text-shadow:
            0 2px 5px rgba(0,0,0,0.8)

}

.banner-contents p {
    max-width: 600px;
    font-size: 1.2rem;
    line-height: 1.4;
    opacity: 0.9;
    overflow: hidden;

    text-shadow: 0 2px 5px rgba(0,0,0,0.6);
}

/* 버튼 */
.banner-buttons button {
    margin: 10px 10px 0 0;
    padding: 15px 40px;
    border: none;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}

.banner-buttons button:first-child {
    background-color: #fff;
    color: #000;

}

.banner-buttons button:last-child {
    background-color: rgba(109, 109, 110, 0.7);
    color: #fff;
}

/* 아래 그라데이션 */
.banner-fadeBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 180px;
    background: linear-gradient(180deg, transparent, rgba(0,0,0,0.9));
}

/* 반응형 */
@media (max-width: 1024px) {

    .banner {
        position: relative;
    }

    .banner-contents {
        position: absolute;

        /* 상단 고정 제거 */
        top: auto;

        /* 아래로 내림 */
        bottom: 8%;
        left: 50%;

        /* 중앙정렬 */
        transform: translateX(-50%);
        text-align: center;
        max-width: 90%;
    }

    .banner-contents p {
        display: none;   /* 설명 숨김 */
    }

    .banner-buttons {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        gap: 12px;
    }
}

/* 더 작은 폰 */
@media (max-width: 600px) {
    .banner {
        height: 65vh;
    }

    .banner-contents h1 {
        font-size: 1.8rem;
    }
}
